.statistics {
    width: 350px;
    background-color: beige;
}
.title {
    font-size: 32px;
    font-weight: 600;
    color: grey;
    text-align: center;
}
.item {
    width: 60px;
    background-color: white;
    text-align: center; 
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 3px 2px 2px grey;
}
.item:not(:first-child) {
    margin-left: 8px;
}
.label {
    font-size: 24px;
    color: grey;
}
.percentage{
    font-size: 24px;
}
.stat_list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}